@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Plantilla de Azure Logic Appsd</h1>
    <p>Learn about <a href="https://github.com/Walter-Gaitan/PlatziWeb">building Web apps with ASP.NET Core</a>.</p>
</div>
