@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Plantilla de Azure Logic Apps</h1>
    <p>Aprender sobre <a href="https://github.com/Walter-Gaitan/PlatziWeb">Aprende de Github e informacion continua</a>.</p>
</div>
